<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tambah Order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />
  </head>
  <body>
    <div th:replace="~{components/components :: navbar}"></div>

    <form th:action="@{/orderitem/simpan}" th:object="${Order}" class="mt-5" method="post">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nama Customer</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Masukkan Nama Anda" name="product_name" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Nama Produk</label>
        <input name="produk" th:value="${product.id}" type="hidden" />
        <input type="text" class="form-control" th:value="${product.nama}" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Jumlah Produk</label>
        <input type="text" class="form-control" placeholder="Masukkan Jumlah Produk Yang Dipesan" name="jumlah" />
      </div>
      <button type="submit" class="btn btn-success">Order Sekarang</button>
    </form>

    <footer class="text-center">
      <!-- place footer here -->
      <div th:replace="components/components.html :: footer"></div>
    </footer>
  </body>
</html>
